@font-face{
    font-family:Emblema One;
    src:url("http://wickedlysmart.com/hfhtmlcss/chapter8/journal/Emblema One-Regular.woff") ，
        url("http://wickedlysmart.com/hfhtmlcss/chapter8/journal/Emblema One-Regular.ttf")；
}
body{
  margin:0;
  padding:0;
  text-align:center;
  font-family:Verdana,Geneva,Arial,sans-serif;
}
h1{
  padding-top:4em;
  font-family:"Emblema One",sans-serif;
}
h2{
  padding-top:4em;
  font-family:"Emblema One",sans-serif;
}
p{
  margin:2em 0;
}
img{
  width:40em;
  max-width:66%
}
em {
    text-decoration: underline overline;
}
